.slide_box {
    Width: 360.94px;
    Height: 456.88px;
}

.text_linear_before {
    position: relative;
}



.text_linear_before::before {
    content: "STORY";
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg,
            #dbe86b 25.41%,
            #d874ff 38%,
            #8cf6b7 44.58%,
            #118fe9 56.73%,
            #31f4f4 62.38%,
            #5276ff 68.04%),
        #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: blur(3px);
}

body {
    background: #000 !important;
}

.avatar {
    padding: 2px;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.slick-slide {
    transition: all 0.4s ease-in-out;
}

.slick-slide img {
    transition: all 0.4s ease-in-out;
}

.slick-slide div {
    max-width: 100%;
    transition: all 5s linear;
    transition: all 0.4s ease-in-out;
    padding-left: 14px;
    margin-right: 13px;

}

.ps_12 {
    margin-left: -20px !important;
}

.slick-slide.slick-center {
    transform: translateY(-50px);
    transition: all 0.4s ease-in-out;
}

.slick-list {
    overflow: visible !important;
}

.bg-shadow {
    Width: 360.94px;
    Height: 456.88px;
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.bg-shadow:after {
    content: "";
    width: 100%;
    ;
    height: 98%;
    ;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: -1;
    -webkit-filter: blur(20px);
    /* Safari 6.0 - 9.0 */
    filter: blur(20px);
}

.bg-shadow:nth-child(1):after {
    background-image: linear-gradient(135deg, #A0FE65 10%, #FA016D 100%);
}

.bg-shadow:nth-child(2):after {
    background-image: linear-gradient(135deg, #FEC163 10%, #DE4313 100%);
}

.bg-shadow:after {
    content: "";
    width: 100%;
    ;
    height: 100%;
    ;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    -webkit-filter: blur(20px);
    /* Safari 6.0 - 9.0 */
    filter: blur(20px);
}

.avatar:before {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 24px;
    background: linear-gradient(to right, #FBF4B7, #31CDE2, #5276FF, #D874FF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.img_position {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 560px;
}

.slick-next {
    right: -13px !important;
    background-image: url(./assets/images/svg/right.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60px !important;
    height: 60px !important;
}

.slick-prev {
    background-image: url(./assets/images/svg/left.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: -14px !important;
    z-index: 10 !important;
    width: 60px !important;
    height: 60px !important;
    width: 100%;
}

.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    background-image: url(./assets/images/svg/right.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60px !important;
    height: 60px !important;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-next:before {
    content: '' !important;
}

.slick-prev:before {
    content: '' !important;
}