.slide_box {
  width: 360.94px;
  height: 456.88px;
}

.text_linear_:before {
  position: relative;
}

.text_linear_:before::before {
  content: "STORY";
  position: absolute;
  z-index: -1;
  background: linear-gradient(180deg,
      #dbe86b 25.41%,
      #d874ff 38%,
      #8cf6b7 44.58%,
      #118fe9 56.73%,
      #31f4f4 62.38%,
      #5276ff 68.04%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: blur(3px);
}

body {
  background: #000 !important;
}

.avatar {
  padding: 2px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.avatar2 {
  padding: 1.5px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.ps_12 {
  margin-left: -20px !important;
}

.slick-slide.slick-center {
  /* transform: translateY(-50px); */
  transition: all 0.4s ease-in-out;
  margin-top: -50px;
}

.slick-center div {
  padding-bottom: 50px;

}

.slick-center div img {
  transform: scale(1.13);
  transition: all .3s linear;

}

.bg-shadow {
  Width: 360.94px;
  Height: 456.88px;
  position: relative;
  background: #fff;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.bg-shadow::after {
  content: "";
  width: 100%;
  ;
  height: 98%;
  ;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: -1;
  -webkit-filter: blur(20px);
  /* Safari 6.0 - 9.0 */
  filter: blur(20px);
}

.bg-shadow:nth-child(1)::after {
  background-image: linear-gradient(135deg, #A0FE65 10%, #FA016D 100%);
}

.bg-shadow:nth-child(2)::after {
  background-image: linear-gradient(135deg, #FEC163 10%, #DE4313 100%);
}

.bg-shadow::after {
  content: "";
  width: 100%;
  ;
  height: 100%;
  ;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  -webkit-filter: blur(20px);
  /* Safari 6.0 - 9.0 */
  filter: blur(20px);
}

.avatar::before {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(to right, #fbf4b7, #31cde2, #5276ff, #d874ff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.avatar2::before {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 0.9px;
  border-radius: 22px;
  background: linear-gradient(to right, #fbf4b7, #31cde2, #5276ff, #d874ff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}



.slick-next {
  right: -60px !important;
  background-image: url(./assets/images/svg/right.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60px !important;
  height: 60px !important;
}

.slick-prev {
  background-image: url(./assets/images/svg/left.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: -60px !important;
  z-index: 10 !important;
  width: 60px !important;
  height: 60px !important;
  width: 100%;
}

.box_shadow {
  box-shadow: 2px 2px 21px 0px rgba(255, 0, 171, 1);
  border-radius: 24px;
  border-radius: 24px;
  box-shadow: inset 2px 2px 21px 0px rgba(255, 0, 171, 1);
}

.slick-next::before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  background-image: url(./assets/images/svg/right.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60px !important;
  height: 60px !important;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next::before {
  content: "" !important;
}

.slick-prev::before {
  content: "" !important;
}

.pt_minus {
  margin-top: -110px;

  margin-left: auto;
  margin-right: auto;
  /* height: 560px !important; */
  text-align: center;
}

.w_100 {
  height: 400px;
  max-width: 313px !important;

}

@media (min-width:1200px) {
  .women_width {
    width: 76% !important;
  }

  .men_width {
    width: 72% !important;
  }

  .w_100 {
    height: unset !important;
    max-width: unset !important;

  }
}

@media (max-width:1080px) {
  .slick-next {
    right: 20% !important;
    background-image: url(./assets/images/svg/right.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60px !important;
    height: 60px !important;
    top: 10% !important;
  }

  .slick-prev {
    background-image: url(./assets/images/svg/left.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 20% !important;
    z-index: 10 !important;
    width: 60px !important;
    height: 60px !important;
    width: 100%;
    top: 10% !important;
  }
}

@media (max-width:700px) {
  .slick-next {
    right: -30px !important;
    background-image: url(./assets/images/svg/right.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60px !important;
    height: 60px !important;
    bottom: 0 !important;
  }

  .slick-prev {
    background-image: url(./assets/images/svg/left.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: -30px !important;
    z-index: 10 !important;
    width: 60px !important;
    height: 60px !important;
    width: 100%;
  }
}